@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
img {
  max-width: 100%;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363940;
}
.robotoParagraph {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #363940;
}
.robotoBold {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.4rem;
  color: #fff;
}
.libreFranklin {
  font-family: 'Libre Franklin', sans-serif;
  color: #363940;
  line-height: 1.9;
  font-size: 1.3rem;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  & .imageHeader {
    max-width: 500px;
    margin-bottom: 2rem;
    & a {
      transition: 0.3s;
      color: white;
      font-size: 2rem;
      text-decoration: none;
      display: grid;
      grid-template-areas: 'main';
      & img {
        grid-area: main;
      }
      & p {
        font-size: 2.5rem;
        grid-area: main;
        display: flex;
        align-items: end;
        justify-self: center;
        margin-bottom: 1rem;
      }
    }
  }
  & nav {
    margin-bottom: 2rem;
    transition: max-height 0.5s, opacity 0.5s, visibility 0.5s;
    transform-origin: top;
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    &.closed {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
    }
    &.closed li::before {
      opacity: 0;
      transition-delay: 0.5s;
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & li {
        cursor: pointer;
        position: relative;
        width: max-content;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: #363940;
          transition: 0.3s;
          transform: scale(0);
          transform-origin: left;
        }
        &:hover:before {
          transform: scale(1);
        }
      }
    }
  }
}

#nav-icon3 {
  position: relative;
  width: 60px;
  aspect-ratio: 1;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  left: 0;
  height: 9px;
  width: 100%;
  background-color: black;
  border-radius: 9px;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.postListHeader {
  background-color: #363940;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 2rem;
}

.postList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  & a {
    text-decoration: none;
    display: grid;
    grid-template-areas: 'main';
    align-items: end;
  }
  & h2 {
    transition: 0.5s;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    grid-area: main;
    z-index: 100;
    padding: 1rem 0;
  }
  & a:hover h2 {
    background-color: #ffffffd3;
    color: black;
  }
  & img {
    transition: 0.5s;
    grid-area: main;
    filter: brightness(0.9);
  }
  & a:hover img {
    filter: brightness(1.1);
  }
}

.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  & img {
    width: 300px;
    aspect-ratio: 1;
    border-radius: 500rem;
    object-fit: cover;
  }
  .italic {
    font-style: italic;
    align-self: end;
    margin-right: 3rem;
  }
}
.bottomBorder {
  margin: 2rem 0;
  height: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 1.2rem;
  & .links {
    display: flex;
    gap: 1rem;
  }
  & a {
    color: rgb(19, 19, 206);
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  & h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }
  & .date {
    text-align: center;
  }
}

.commentList {
  margin: 2rem 0;
  & h2 {
    margin: 0 auto;
    width: max-content;
    position: relative;
    padding: 0 1rem;
    &::before {
      content: '';
      position: absolute;
      width: 4rem;
      height: 2px;
      background-color: black;
      right: 100%;
      top: 45%;
    }
    &::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 2px;
      background-color: black;
      left: 100%;
      top: 45%;
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem;
    & li {
      display: flex;
      flex-direction: column;
      line-height: 1;
      border-bottom: 1px solid rgb(197, 197, 197);
      padding-bottom: 1rem;
      & .commentAuthor {
        text-transform: uppercase;
        margin-bottom: .5rem;
        margin-top: 1rem;
      }
      & .commentDate {
        font-size: 1rem;
        color: rgb(161, 161, 161);
        margin-bottom: 1.5rem;
      }
    }
  }
  & .commentInput {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    gap: 1rem;
    & input, & textarea {
      font-family: 'Libre Franklin', sans-serif;
      width: 100%;
      padding: 1rem;
      font-size: 1.1rem;
    }
    & button {
      text-transform: uppercase;
      width: max-content;
      align-self: center;
      background-color: rgb(54,57,64);
      color: white;
      font-weight: 600;
      padding: 5px 1.5rem;
      border: none;
      transition: .3s;
      cursor: pointer;
      &:hover {
        opacity: .7;
      }
    }
  }
}
.footerBreak {
    margin: 2rem 0;
  }