@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');

body {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
img {
  max-width: 100%;
}

.pacifico {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  & .imageHeader {
    aspect-ratio: 1;
    max-width: 500px;
    & a {
      color: white;
      font-size: 2rem;
      text-decoration: none;
      display: grid;
      grid-template-areas: 'main';
      & img {
        grid-area: main;
      }
      & p {
        font-size: 2.5rem;
        grid-area: main;
        display: flex;
        align-items: end;
        justify-self: center;
        margin-bottom: 1rem;
      }
    }
  }
  .headerButton {

  }
}

#nav-icon3 {
  position: relative;
  width: 60px;
  aspect-ratio: 1;
  cursor: pointer;
}
#nav-icon3 span {
  display: block;
  left: 0;
  height: 9px;
  width: 100%;
  background-color: black;
  border-radius: 9px;
  position: absolute;
  opacity: 1;
  transition: .3s;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}